{% assign current_lang = page.lang | default: site.lang | split: '-' | first %}
{% capture footer_contents %}
  {% if current_lang == 'zh' %}
    &copy; {{ site.time | date: '%Y' }} 潘林越。基于 <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> 与 <a href="https://github.com/alshedivat/al-folio">al-folio</a> 主题构建，托管于 <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>。
    {% if site.impressum_path %}
      <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">法律声明</a>。
    {% endif %}
    {% if site.last_updated %}
      最后更新：{{ 'now' | date: '%Y-%m-%d' }}。
    {% endif %}
  {% else %}
    &copy; Copyright {{ site.time | date: '%Y' }}
    {{ site.first_name }}
    {{ site.middle_name }}
    {{ site.last_name }}. {{ site.footer_text }}
    {% if site.impressum_path %}
      <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {% endif %}
    {% if site.last_updated %}
      Last updated: {{ 'now' | date: '%B %d, %Y' }}.
    {% endif %}
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
