---
---
{% assign current_lang = page.lang | default: site.lang | split: '-' | first %}
{% assign publication_config = site.data.publications[entry.key] %}
{% assign display_abbr = publication_config.abbr %}
{% assign display_preview = publication_config.preview %}
{% assign display_title_logo = publication_config.title_logo %}
{% assign display_title = entry.title %}
{% assign display_note = publication_config.note %}
{% assign display_award = publication_config.award %}
{% assign display_award_name = publication_config.award_name %}
{% assign display_abstract = publication_config.abstract %}
{% assign display_bibtex_show = publication_config.bibtex_show %}
{% assign display_arxiv_id = entry.eprint %}
{% assign display_doi = publication_config.doi %}
{% assign display_hal = publication_config.hal %}
{% assign display_html = publication_config.html %}
{% assign display_pdf = publication_config.pdf %}
{% assign display_supp = publication_config.supp %}
{% assign display_video = publication_config.video %}
{% assign display_blog = publication_config.blog %}
{% assign display_code = publication_config.code %}
{% assign display_x_post = publication_config.x_post %}
{% assign display_x_discussion = publication_config.x_discussion %}
{% assign display_poster = publication_config.poster %}
{% assign display_slides = publication_config.slides %}
{% assign display_website = publication_config.website %}
{% assign display_scholar_url = publication_config.scholar_url %}
{% assign display_scholar_citations = publication_config.scholar_citations %}
{% assign display_github_repo = publication_config.github_repo %}
{% assign display_altmetric = publication_config.altmetric %}
{% assign display_dimensions = publication_config.dimensions %}
{% assign display_google_scholar_id = publication_config.google_scholar_id %}
{% assign display_inspirehep_id = publication_config.inspirehep_id %}
{% assign abstract_label = 'Abs' %}
{% assign awarded_label = 'Awarded' %}
{% assign bibtex_label = 'Bib' %}
{% assign video_label = 'Video' %}
{% assign x_post_label = 'X Post' %}
{% assign x_discussion_label = 'X Discussion' %}
{% assign website_label = 'Website' %}
{% assign translation_label = 'Translation' %}
{% assign code_label = 'Code' %}
{% if current_lang == 'zh' %}
  {% assign publication_zh = site.data.publicationszh[entry.key] %}
  {% assign abstract_label = '摘要' %}
  {% assign awarded_label = '获奖' %}
  {% assign bibtex_label = '引用' %}
  {% assign video_label = '视频' %}
  {% assign x_post_label = 'X 帖文' %}
  {% assign x_discussion_label = 'X 讨论' %}
  {% assign website_label = '网站' %}
  {% assign translation_label = '中文翻译' %}
  {% assign code_label = '代码' %}
  {% if publication_zh.title %}
    {% assign display_title = publication_zh.title %}
  {% endif %}
  {% if publication_zh.note %}
    {% assign display_note = publication_zh.note %}
  {% endif %}
  {% if publication_zh.award %}
    {% assign display_award = publication_zh.award %}
  {% endif %}
  {% if publication_zh.award_name %}
    {% assign display_award_name = publication_zh.award_name %}
  {% endif %}
  {% if publication_zh.abstract %}
    {% assign display_abstract = publication_zh.abstract %}
  {% endif %}
{% endif %}
<div class="row">
  {% if site.enable_publication_thumbnails %}
    <div class="col col-sm-2 abbr">
      {%- if display_abbr -%}
        {%- if site.data.venues[display_abbr] -%}
          {% assign venue_style = null %}
          {% if site.data.venues[display_abbr].color != blank %}
            {% assign venue_style = site.data.venues[display_abbr].color | prepend: 'style="background-color:' | append: '"' %}
          {%- endif -%}
          <abbr
            class="badge rounded w-100"
            {% if venue_style %}
              {{ venue_style }}
            {% endif -%}
          >
            {% if site.data.venues[display_abbr].url %}
              <a href="{{ site.data.venues[display_abbr].url }}">{{ display_abbr }}</a>
            {% else %}
              <div>{{- display_abbr -}}</div>
            {% endif %}
          </abbr>
        {% else %}
          <abbr class="badge rounded w-100">{{ display_abbr }}</abbr>
        {% endif %}
      {% endif %}
      {% if display_preview %}
        {% if display_preview contains '://' %}
          <img class="preview z-depth-1 rounded" src="{{ display_preview }}">
        {% else %}
          {% assign entry_path = display_preview | prepend: '/assets/img/publication_preview/' %}
          {%
            include figure.liquid
            loading="eager"
            path=entry_path
            sizes = "200px"
            class="preview z-depth-1 rounded"
            zoomable=true
            avoid_scaling=true
            alt=display_preview
          %}
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

  <!-- Entry bib key -->
  <div id="{{ entry.key }}" class="{% if site.enable_publication_thumbnails %}col-sm-8{% else %}col-sm-10{% endif %}">
    <!-- Title -->
    <div class="title publication-title-with-logo">
      {% if display_title_logo %}
        <img
          src="{{ display_title_logo | prepend: '/assets/img/logos/' | relative_url }}"
          class="publication-title-logo"
          alt="{{ display_title_logo }}"
        >
      {% endif %}
      {% if entry.url %}
        <a href="{{ entry.url }}">{{ display_title }}</a>
      {% else %}
        {{ display_title }}
      {% endif %}
    </div>
    <!-- Author -->
    <div class="author">
      {% assign author_array_size = entry.author_array | size %}

      {% assign author_array_limit = author_array_size %}
      {% if site.max_author_limit and author_array_size > site.max_author_limit %}
        {% assign author_array_limit = site.max_author_limit %}
      {% endif %}

      {%- for author in entry.author_array limit: author_array_limit -%}
        {% assign author_is_self = false %}
        {%- assign author_last_name = author.last | regex_replace: '[*∗†‡§¶‖&^]', '' -%}
        {%- assign author_last_html = author.last | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' -%}
        {% if site.scholar.last_name contains author_last_name %}
          {% if site.scholar.first_name contains author.first %}
            {% assign author_is_self = true %}
          {% endif %}
        {%- endif -%}
        {% assign coauthor_url = null %}
        {%- assign clean_last_name = author_last_name | downcase | remove_accents -%}
        {% capture author_display_name -%}
          {{- author.first }} {{ author_last_html -}}
        {%- endcapture %}
        {% if current_lang == 'zh' %}
          {% capture author_name_key -%}
            {{- author.first }} {{ author_last_name -}}
          {%- endcapture %}
          {% if site.data.coauthorszh[author_name_key] %}
            {% assign author_display_name = site.data.coauthorszh[author_name_key] %}
          {% endif %}
        {% endif %}
        {% if site.data.coauthors[clean_last_name] %}
          {%- for coauthor in site.data.coauthors[clean_last_name] -%}
            {% if coauthor.firstname contains author.first %}
              {%- assign coauthor_url = coauthor.url -%}
              {% break %}
            {%- endif -%}
          {% endfor %}
        {%- endif -%}

        {%- if forloop.length > 1 -%}
          {%- if current_lang == 'zh' -%}
            {%- unless forloop.first -%}、{%- endunless -%}
          {%- else -%}
            {% if forloop.first == false -%}
              {%- if forloop.length > 2 %}, {% elsif forloop.length == 2 %}  {% endif %}
            {%- endif %}
            {%- if forloop.last and author_array_limit == author_array_size %}and {% endif -%}
          {%- endif -%}
        {% endif %}
        {%- if author_is_self -%}
          {%- if coauthor_url -%}
            <a href="{{ coauthor_url }}"
              ><em>{{- author_display_name -}}</em></a
            >
          {%- else -%}
            <em>{{- author_display_name -}}</em>
          {%- endif -%}
        {%- else -%}
          {%- if coauthor_url -%}
            <a href="{{ coauthor_url }}">{{- author_display_name -}}</a>
          {%- else -%}
            {{- author_display_name -}}
          {% endif %}
        {%- endif -%}
      {% endfor %}
      {%- assign more_authors = author_array_size | minus: author_array_limit -%}

      {%- assign more_authors_hide = more_authors | append: ' more author' -%}
      {% if more_authors > 0 %}
        {%- if more_authors > 1 -%}
          {% assign more_authors_hide = more_authors_hide | append: 's' %}
        {%- endif -%}
        {% assign more_authors_show = '' %}
        {%- for author in entry.author_array offset: author_array_limit -%}
          {% assign more_authors_show = more_authors_show | append: author.first | append: ' ' | append: author.last %}
          {% unless forloop.last %}
            {% assign more_authors_show = more_authors_show | append: ', ' %}
          {% endunless %}
        {%- endfor -%}
        {%- assign more_authors_show = more_authors_show | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' -%}
        , and
        <span
          class="more-authors"
          title="click to view {{ more_authors_hide }}"
          onclick="
              var element = $(this);
              element.attr('title', '');
              var more_authors_text = element.text() == '{{ more_authors_hide }}' ? '{{ more_authors_show }}' : '{{ more_authors_hide }}';
              var cursorPosition = 0;
              var textAdder = setInterval(function(){
                element.html(more_authors_text.substring(0, cursorPosition + 1));
                if (++cursorPosition == more_authors_text.length){
                  clearInterval(textAdder);
                }
            }, '{{ site.more_authors_animation_delay }}');
          "
        >
          {{- more_authors_hide -}}
        </span>
      {% endif %}
      {% if entry.annotation %}
        <i
          class="fa-solid fa-circle-info ml-1"
          data-toggle="popover"
          data-placement="top"
          data-html="true"
          data-content="{{ entry.annotation | escape }}"
        >
        </i>
      {% endif %}
    </div>

    <!-- Journal/Book title and date -->
    {% assign proceedings = 'inproceedings,incollection' | split: ',' %}
    {% assign thesis = 'thesis,mastersthesis,phdthesis' | split: ',' %}
    {% if entry.type == 'article' %}
      {% capture entrytype %}<em>{{ entry.journal }}</em>{% endcapture %}
    {% elsif proceedings contains entry.type %}
      {% capture entrytype %}<em>In {{ entry.booktitle }}</em>{% endcapture %}
    {% elsif thesis contains entry.type %}
      {% capture entrytype %}<em>{{ entry.school }}</em>{% endcapture %}
    {% else %}
      {% capture entrytype %}{% endcapture %}
    {% endif %}
    {% assign entrymonth = '' %}
    {% if entry.month %}
      {% capture entrymonth %}{{ " " }}{{ entry.month | capitalize }}{% endcapture %}
    {% endif %}
    {% assign entryyear = '' %}
    {% if entry.year %}
      {% capture entryyear %}{{ " " }}{{ entry.year }}{% endcapture %}
    {% endif %}
    {% if entry.location %}
      {% capture entrytype %}{{ entrytype }}{{ ", " }}{{ entry.location }}{% endcapture %}
    {% endif -%}
    {% if entry.additional_info %}
      {% capture entrytype %}{{ entrytype }}{{ entry.additional_info | markdownify | remove: '<p>' | remove: '</p>' }}{% endcapture %}
    {% endif %}
    {% capture hook_exists %}{% file_exists _includes/hook/bib.liquid %}{% endcapture %}
    {% if hook_exists == 'true' %}
      {% include hook/bib.liquid %}
    {% endif %}
    {% assign entrytype_text = entrytype | strip_html | strip %}
    {% capture periodical %}{{ entrytype }}{% if entrytype_text != "" and entryyear != "" %}, {% endif %}{{ entrymonth }}{{ entryyear }}{% endcapture %}
    <div class="periodical">
      {{ periodical | strip }}
    </div>
    <div class="periodical">
      {{ display_note | strip }}
    </div>

    <!-- Links/Buttons -->
    <div class="links">
      {% if display_award %}
        <a class="award btn btn-sm z-depth-0" role="button">
          {%- if display_award_name %}{{ display_award_name }}{% else %}{{ awarded_label }}{% endif -%}
        </a>
      {% endif %}
      {% if display_abstract %}
        <a class="abstract btn btn-sm z-depth-0" role="button">{{ abstract_label }}</a>
      {% endif %}
      {% if display_doi %}
        <a href="https://doi.org/{{ display_doi }}" class="btn btn-sm z-depth-0" role="button">DOI</a>
      {% endif %}
      {% if display_arxiv_id %}
        <a href="http://arxiv.org/abs/{{ display_arxiv_id }}" class="btn btn-sm z-depth-0" role="button">arXiv</a>
      {% endif %}
      {% if current_lang == 'zh' and publication_zh.translation %}
        <a href="{{ publication_zh.translation }}" class="btn btn-sm z-depth-0" role="button">{{ translation_label }}</a>
      {% endif %}
      {% if display_hal %}
        <a href="https://hal.science/{{ display_hal }}" class="btn btn-sm z-depth-0" role="button">HAL</a>
      {% endif %}
      {% if display_bibtex_show %}
        <a class="bibtex btn btn-sm z-depth-0" role="button">{{ bibtex_label }}</a>
      {% endif %}
      {% if display_html %}
        {% if display_html contains '://' %}
          <a href="{{ display_html }}" class="btn btn-sm z-depth-0" role="button">HTML</a>
        {% else %}
          <a href="{{ display_html | prepend: '/assets/html/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">HTML</a>
        {% endif %}
      {% endif %}
      {% if display_pdf %}
        {% if display_pdf contains '://' %}
          <a href="{{ display_pdf }}" class="btn btn-sm z-depth-0" role="button">PDF</a>
        {% else %}
          <a href="{{ display_pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">PDF</a>
        {% endif %}
      {% endif %}
      {% if display_supp %}
        {% if display_supp contains '://' %}
          <a href="{{ display_supp }}" class="btn btn-sm z-depth-0" role="button">Supp</a>
        {% else %}
          <a href="{{ display_supp | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Supp</a>
        {% endif %}
      {% endif %}
      {% if display_video and site.enable_video_embedding %}
        <a class="abstract btn btn-sm z-depth-0" role="button">{{ video_label }}</a>
      {% elsif display_video %}
        <a href="{{ display_video }}" class="btn btn-sm z-depth-0" role="button">{{ video_label }}</a>
      {% endif %}
      {% if display_blog %}
        <a href="{{ display_blog }}" class="btn btn-sm z-depth-0" role="button">Blog</a>
      {% endif %}
      {% if display_code %}
        <a href="{{ display_code }}" class="btn btn-sm z-depth-0" role="button">{{ code_label }}</a>
      {% endif %}
      {% if display_x_post %}
        <a href="{{ display_x_post }}" class="btn btn-sm z-depth-0" role="button">{{ x_post_label }}</a>
      {% endif %}
      {% if display_x_discussion %}
        <a href="{{ display_x_discussion }}" class="btn btn-sm z-depth-0" role="button">{{ x_discussion_label }}</a>
      {% endif %}
      {% if display_poster %}
        {% if display_poster contains '://' %}
          <a href="{{ display_poster }}" class="btn btn-sm z-depth-0" role="button">Poster</a>
        {% else %}
          <a href="{{ display_poster | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Poster</a>
        {% endif %}
      {% endif %}
      {% if display_slides %}
        {% if display_slides contains '://' %}
          <a href="{{ display_slides }}" class="btn btn-sm z-depth-0" role="button">Slides</a>
        {% else %}
          <a href="{{ display_slides | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Slides</a>
        {% endif %}
      {% endif %}
      {% if display_website %}
        <a href="{{ display_website }}" class="btn btn-sm z-depth-0" role="button">{{ website_label }}</a>
      {% endif %}
    </div>
    {% if display_scholar_citations != null or display_github_repo %}
      <div class="pub-metrics">
        {% if display_scholar_citations != null %}
          <a
            href="{% if display_scholar_url %}{{ display_scholar_url }}{% else %}https://scholar.google.com/scholar?q={{ entry.title | uri_escape }}{% endif %}"
            aria-label="Google Scholar citations"
            role="button"
          >
            <img
              src="https://img.shields.io/badge/Citations-{{ display_scholar_citations }}-EBB215"
              alt="Citations: {{ display_scholar_citations }}"
            >
          </a>
        {% endif %}
        {% if display_github_repo %}
          <a href="https://github.com/{{ display_github_repo }}" aria-label="GitHub stars" role="button">
            <img
              src="https://img.shields.io/github/stars/{{ display_github_repo }}?style=flat&logo=github&label=Stars"
              alt="GitHub stars for {{ display_github_repo }}"
            >
          </a>
        {% endif %}
      </div>
    {% endif %}
    {% if site.enable_publication_badges %}
      {% assign entry_has_altmetric_badge = false %}
      {% if display_altmetric and display_altmetric != 'false' %}
        {% assign entry_has_altmetric_badge = true %}
      {% endif %}

      {% assign entry_has_dimensions_badge = false %}
      {% if display_dimensions and display_dimensions != 'false' %}
        {% assign entry_has_dimensions_badge = true %}
      {% endif %}

      {% assign entry_has_google_scholar_badge = false %}
      {% if display_google_scholar_id %}
        {% assign entry_has_google_scholar_badge = true %}
      {% endif %}

      {% assign entry_has_inspirehep_badge = false %}
      {% if display_inspirehep_id %}
        {% assign entry_has_inspirehep_badge = true %}
      {% endif %}
      {% if entry_has_altmetric_badge or entry_has_dimensions_badge or entry_has_google_scholar_badge or entry_has_inspirehep_badge %}
        <div class="badges">
          {% if site.enable_publication_badges.altmetric and entry_has_altmetric_badge %}
            <span
              class="altmetric-embed"
              data-badge-type="2"
              data-badge-popover="right"
              {% if display_altmetric != blank and display_altmetric != 'true' %}
                data-altmetric-id="{{ display_altmetric }}"
              {% elsif display_arxiv_id %}
                data-arxiv-id="{{ display_arxiv_id }}"
              {% elsif display_arxiv_id %}
                data-arxiv-id="{{ display_arxiv_id }}"
              {% elsif display_doi %}
                data-doi="{{ display_doi }}"
              {% elsif entry.pmid %}
                data-pmid="{{ entry.pmid }}"
              {% elsif entry.isbn %}
                data-isbn="{{ entry.isbn }}"
              {% endif %}
            ></span>
          {% endif %}
          {% if site.enable_publication_badges.dimensions and entry_has_dimensions_badge %}
            <span
              class="__dimensions_badge_embed__"
              {% if display_dimensions != blank and display_dimensions != 'true' %}
                data-id="{{ display_dimensions }}"
              {% elsif display_doi %}
                data-doi="{{ display_doi }}"
              {% else %}
                data-pmid="{{ entry.pmid }}"
              {% endif %}
              data-style="small_rectangle"
              data-legend="hover-right"
              style="margin-bottom: 3px;"
            ></span>
          {% endif %}
          {% if site.enable_publication_badges.google_scholar and entry_has_google_scholar_badge %}
            <a
              href="https://scholar.google.com/citations?view_op=view_citation&user={{ site.data.socials.scholar_userid }}&citation_for_view={{ site.data.socials.scholar_userid }}:{{ display_google_scholar_id }}"
              aria-label="Google Scholar link"
              role="button"
            >
              {% assign citation_count = 0 %}
              {% assign scholar_id_key = site.scholar_userid | append: ':' | append: display_google_scholar_id %}
              {% assign publication_key = display_google_scholar_id %}

              {% if site.data.citations.papers[scholar_id_key] %}
                {% assign citation_count = site.data.citations.papers[scholar_id_key].citations %}
              {% elsif site.data.citations.papers[publication_key] %}
                {% assign citation_count = site.data.citations.papers[publication_key].citations %}
              {% else %}
                {% for paper in site.data.citations.papers %}
                  {% assign paper_key = paper[0] %}
                  {% if paper_key contains display_google_scholar_id %}
                    {% assign citation_count = paper[1].citations %}
                    {% break %}
                  {% endif %}
                {% endfor %}
              {% endif %}

              <img
                src="https://img.shields.io/badge/scholar-{{ citation_count }}-4285F4?logo=googlescholar&labelColor=beige"
                alt="{{ citation_count }} Google Scholar citations"
              >
            </a>
          {% endif %}
          {% if site.enable_publication_badges.inspirehep and entry_has_inspirehep_badge %}
            <a
              href="https://inspirehep.net/literature/{{ display_inspirehep_id }}"
              aria-label="Inspirehep link"
              role="button"
            >
              <img
                src="https://img.shields.io/badge/inspire-{% inspirehep_citations display_inspirehep_id %}-001628?logo=inspire&logoColor=001628&labelColor=beige"
                alt="{% inspirehep_citations display_inspirehep_id %} InspireHEP citations"
              >
            </a>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}

    {% if display_award %}
      <!-- Hidden Award block -->
      <div class="award hidden d-print-inline">
        <p>{{ display_award | markdownify }}</p>
      </div>
    {% endif %}

    {% if display_abstract %}
      <!-- Hidden abstract block -->
      <div class="abstract hidden">
        <p>{{ display_abstract }}</p>
      </div>
    {% endif %}

    {% if display_bibtex_show %}
      <!-- Hidden bibtex block -->
      <div class="bibtex hidden">
        {% highlight bibtex %}
        {{- entry.bibtex | hideCustomBibtex -}}
        {% endhighlight %}
      </div>
    {% endif %}

    {% if display_video and site.enable_video_embedding %}
      <!-- Hidden video block -->
      <div class="abstract hidden">
        <div style="text-align: center;">{% include video.liquid path=display_video class="img-fluid rounded z-depth-1" controls=true %}</div>
      </div>
    {% endif %}
  </div>
</div>
